################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppsDevGroceryAPP/.vs/GroceryApp/FileContentIndex/752caa0c-0ac5-47b6-8539-b42555f123c5.vsidx
/AppsDevGroceryAPP/.vs/GroceryApp/FileContentIndex/781437db-cb41-4715-9ed1-b5f2d849fcbf.vsidx
